<app-header></app-header>
<button (click)="addTodo()">{{ 'AddTodo' | translate}}</button>

<div style="margin: 2rem;">
    <input type="text" [(ngModel)] = "searchText">
</div>
<div class="todo-container">
    @for (item of todos | filter: searchText; track $index) {
        <app-todo
            [appHighlighted]="false"
            [todoData]="item"
            sprint="10"
            (onClickIcon)="deleteTodo($event)"
        >
        <textarea rows="10" [(ngModel)]="item.description" (blur)="updateTodo($event, item)">{{ item.description }}</textarea>
        </app-todo>
    }
</div>


