<div [appHighlighted]="false">Header</div>
<br><br>

<button (click)="highlightedDirective.onToggle();">Resaltar</button>
<br><br>

@if (todoData) {
    <div class="todo-container">

        <app-todo
            #todoRef
            [appHighlighted] = "false"
            (onToggleHighlighted) = "onToggleHighlighted($event)"
            [todoData]="todoData"
            (onClickIcon)="getTodoInfo($event);"
        >
        <ng-template [appNgxUnless]="todoData.hidden">
            <div class="name">Alvaro
            <div class="last-name">Garcia</div>
            <div projected-content="todo">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis impedit officia architecto reiciendis ut, blanditiis quas, illum excepturi adipisci in laudantium obcaecati eum iusto quam ipsam sunt minima ducimus id.</div>
            </div>
        </ng-template>
        </app-todo>
    </div>
} @else {
    <ng-container *ngTemplateOutlet="noTodo; context: {$implicit: 'Alvaro', lastName: 'Garcia'}"></ng-container>
}


<ng-template #noTodo let-name let-lastName="lastName">
    <div>
        No hay elementos
    </div>
    <div>
        nombre: {{ name }}
    </div>
    <div>
        Apellido: {{ lastName }}
    </div>
</ng-template>
<!-- <button (click)="orderData();">Ordenar</button> -->



