<div class="todo-container">
    <!-- @for (
            todo of todoData; 
            track todo.id;
            let f = $first;
        ){
        <app-todo 
        #todoRef
        [todoData]="todo" 
        (onClickIcon)="getTodoInfo($event)"
        >
        <app-input placeholder="Nombres"></app-input>
        <app-input placeholder="Apellidos"></app-input>
        <app-input placeholder="Edad" type="number"></app-input>
        <div class="comment" style="margin-top: 1rem;">
            <textarea rows="5" id=""></textarea>
        </div>
    </app-todo>
    } @empty {
        No hay datos
    } -->

    <router-outlet></router-outlet>
</div>


<br>
<button (click)="router.navigate([''])">Home</button>
<button (click)="router.navigate(['/todo'])">Todo</button>
<button (click)="addTodo();" >Modificar</button>


